<aside class="learn">
  <header>
    <h3>Stimulus</h3>
    <span class="source-links">
      <h5>A modest implementation of a TodoMVC with Rails and Stimulus</h5>
      <a href="https://github.com/adrienpoly/todomvc_rails_on_stimulus">
        Source
        </a>
    </span>
  </header>
  <hr>
  <blockquote class="quote speech-bubble">
    <p>Stimulus is a JavaScript framework with modest ambitions. It doesn't seek to take over your entire front-end—in fact, it's not concerned with rendering HTML at all. Instead, it's designed to augment your HTML with just enough behavior to make it shine. Stimulus pairs beautifully with <a href="https://github.com/turbolinks/turbolinks">Turbolinks</a> to provide a complete solution for fast, compelling applications with a minimal amount of effort.</p>
    <footer>
      <a href="https://stimulusjs.org/">Stimulus</a>
    </footer>
  </blockquote>
  <footer>
    <hr>
    <em>This project is a personnal playground. If you see any issues or recommendation of improvements <a href="https://github.com/adrienpoly/todomvc_rails_on_stimulus/issues">issues report</a> and PR are welcome .
    </em>
  </footer>
</aside>
