<% cache todo do %>
  <li data-controller="todoItem" data-todoItem-id="<%= todo.id %>" class="<%= 'completed' if todo.completed %>" data-target="todoList.task" >
    <div class="view">
      <input class="toggle" type="checkbox" data-action="todoItem#toggle" <%= todo.completed ? "checked" : "" %>>
      <label data-action="dblclick->todoItem#edit" data-target="todoItem.title"><%= h todo.title %></label>
      <button class="destroy" data-action="todoItem#destroy"></button>
    </div>
    <input class="edit" data-target="todoItem.input" data-action="blur->todoItem#submit keydown->todoItem#keydown">
  </li>
<% end %>
