<% cache todo do %>
  <li data-controller="todo-item" data-todo-item-id="<%= todo.id %>" class="<%= 'completed' if todo.completed %>" data-target="todo-list.task" >
    <div class="view">
      <input class="toggle" type="checkbox" data-action="todo-item#toggle" <%= todo.completed ? "checked" : "" %>>
      <label data-action="dblclick->todo-item#edit" data-target="todo-item.title"><%= h todo.title %></label>
      <button class="destroy" data-action="todo-item#destroy"></button>
    </div>
    <input class="edit" data-target="todo-item.input" data-action="blur->todo-item#submit keydown->todo-item#keydown">
  </li>
<% end %>
